nav {background-color: rgba(19, 2, 255, 0.404);
    font-size: 25px;}

body {font-style: italic;}

.titulo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
    padding-bottom: 5%;
}

.sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 20px;}


.super{
    padding: 5%;
    padding-left: 18%;
}

.emas{
    padding: 5%;
    padding-left: 50%
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: column;
    align-items: left;
    flex-direction: column;
}

.im{
    list-style: none;
}

.super{display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;}

.elec{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: column;
    list-style: none;
    align-items: left;
    flex-direction: row;
    
}


.tpr {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    flex-direction: column;
    font-size: 29px;
}

.Titems{ margin-left: 30%;
    display: flex;
    flex-wrap: wrap;
        align-items: center;
}

.Tinfo{ 
     margin: 10px;
        border: 2px solid #1100ff;
        background-color: rgb(253, 255, 162);
        box-sizing: border-box;
        width: 50%;
        font-family: initial;
        font-size: 18px;
        font-weight: 500;
        padding: 10px;
    }
.conter{display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;}
