nav {
    background-color: rgba(19, 2, 255, 0.404);
    font-size: 25px;
}

body {
    font-style: italic;
}


.titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 60px;
}

.sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

}



ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

li {
    list-style: none;
}

.txt{
    margin: 5%;
    width: 20%;
    font-family: initial;
    font-size: 18px;
    font-weight: 500;
    padding: 2px;
    box-sizing: border-box;
}

.im{margin: 5%;}


